body {
  background-color: #000;
  margin: 0px;
  font-size: 0;
}

div.row div {
  width: 20px;
  height: 20px;
  display: inline-block;

}

div.brick {
background-color: blue;
}

div.coin {
  background: url('../img/coin.gif') no-repeat center;
}

div#pacman {
  background: url('../img/pacman.gif') no-repeat center;
  background-size: cover;
  width: 20px;
  height: 20px;
  position: absolute;
}

#score {
  border: 1px solid white;
  width: 30px;
  height: 20px;
  position: absolute;
  padding: 7px;
  top: 10px;
  left: 250px;
  color: #fff;
  text-align: center;
}
