body {
  background-color: #000;
  margin: 0px;
}

div.row div {
  width: 20px;
  height: 20px;
  /*border: 1px solid black;*/
  display: inline-block;
}

div.row {
  height: 20px;
}

div.brick {
background-color: blue;
}

div.coin {
  background: url('../img/coin.gif') no-repeat center;
}

div#pacman {
  background: url('../img/pacman.gif') no-repeat center;
  background-size: cover;
  width: 20px;
  height: 20px;
  position: absolute;
}

#world {
  color: #fff;
}

#score {
  position: absolute;
  top: 0px;
  left: 600px;
  border: 2px solid #fff;
  width: 50px;
  height: 50px;
  color: #fff;
  text-align: center;

}

.cherry {
  background: url('../img/cherry-bonus.png') no-repeat center;
  background-size: cover;
}

.blue_ghost {
  background: url('../img/blue_ghost.png') no-repeat center;
  background-size: cover;
}
